.container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(185, 58, 249);

  &__hijo {
    padding: 1rem;
    background-color: rgb(197, 245, 139);
    width: 450px;
    height: 480px;
  }
}
.form {
  display: flex;
  flex-direction: column;
}
label {
  padding: 0.3em;
}
.button {
  display: flex;
  position: relative;
  justify-content: center;
  top: 40px;
  align-items: center;
  &__agregar {
    margin-right: 30px;
    border-radius: 10px;
    background: none;
    padding: 10px;
    cursor: pointer;
  }
  &__eliminar {
    margin-right: 30px;
    border-radius: 10px;
    background: none;
    padding: 10px;
    cursor: pointer;
  }
}
