@import "./components/NavBar/navaBarStyle.scss";
@import "./pages/adminComics/stylesAdmComic";
@import "./pages/Home/styleHome";
@import "./pages/MarvelComics/stylesMarvel";
@import "./pages/DcComics/stylesDc";
@import "./pages/ShopCards/styleShop";
@import "./pages/login/login.scss";
@import "./components/footer/style";
@import "./components/search/search.scss";

.App {
  font-family: "Russo One", sans-serif;
}
body {
  background-color: black;
  margin: 0;
  padding: 0%;
}
