.search {
  display: flex;
  justify-content: center;
  position: relative;
  top: 6rem;
  &__input {
    padding: 0 20px;
    width: 450px;
    height: 30px;
    background: none;
    border-radius: 10px;
    border: 1px solid black;
    font-family: "Righteous", cursive;
  }
}
