.shopCar {
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  top: 80px;
  &__cards {
    padding: 10px;
    background: lightgray;
    width: 250px;
    height: 250px;
  }
}
